doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title phasmo
    link(href='./main.css', rel='stylesheet')
    
  body
    .flex.justify-center
      table.table-auto.border-collapse
        thead
          tr
            th Type
            th
              div
                input(id="spirit", type="checkbox", name="spirit")
                label(for="spirit") Spirit
            th 
              div
                input(id="empreintes", type="checkbox", name="empreintes")
                label(for="empreintes") Empreintes
            th 
              div
                input(id="ecritures", type="checkbox", name="ecritures")
                label(for="ecritures") Ecritures
            th 
              div
                input(id="emf", type="checkbox", name="emf")
                label(for="emf") EMF
            th  
              div
                input(id="glagla", type="checkbox", name="glagla")
                label(for="glagla") GlaGla
            th  
              div
                input(id="orbe", type="checkbox", name="orbe")
                label(for="orbe") Orbe
        tbody
          tr.spirit.empreintes.ecritures
            td Esprit
            td X
            td X
            td X
            td
            td
            td
          tr.spirit.empreintes.glagla
            td Spectre
            td X
            td X
            td 
            td
            td X
            td
          tr.emf.glagla.orbe
            td Fantome
            td 
            td 
            td 
            td X
            td X
            td X
          tr.spirit.empreintes.orbe
            td Poltergeist
            td X
            td X
            td 
            td 
            td 
            td X
          tr.empreintes.emf.glagla
            td Banshee
            td 
            td X
            td 
            td X
            td X
            td 
          tr.spirit.emf.orbe
            td Djinn
            td X
            td 
            td 
            td X
            td 
            td X
          tr.spirit.glagla.orbe
            td Cauchemar
            td X
            td 
            td 
            td 
            td X
            td X
          tr.empreintes.ecritures.emf
            td Revenant
            td 
            td X
            td X
            td X
            td 
            td 
          tr.ecritures.emf.orbe
            td Ombre
            td
            td 
            td X
            td X
            td
            td X
          tr.spirit.ecritures.glagla
            td Demon
            td X
            td 
            td X
            td 
            td X
            td 
          tr.ecritures.glagla.orbe
            td Yurei
            td 
            td 
            td X
            td 
            td X
            td X
          tr.spirit.ecritures.glagla.orbe
            td Oni
            td X
            td 
            td X
            td X
            td 
            td 
    script(src="main.js")
    