doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title phasmo
    link(rel='icon', href='images/icons/icon-72x72.png', type='image/png')
    meta(name='theme-color', content='#000000')
    //link(rel='manifest', href='manifest.webmanifest')

  body
    #lang
      a.active(href="#fr") FR
      a(href="#en") EN
    table
      thead
        tr
          th Type
      tbody
    script(src="main.js", type="module")
    